
body {
	background: rgb(52, 52, 52);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	border-radius: 3px;
	border: 0px solid black;
}

@media only screen and (min-width: 1000px) {
	canvas {
		cursor: pointer;
	}
}
